spring:
    application:
        name: booking
        
    profiles:
        active: dev

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8080/realms/Bookings